.dayplan {
  background: var(--off);
  color: var(--main);
  padding-top: calc(var(--header-height) + 10px);
  margin-top: calc(var(--header-height) * -1 + 10px);
  -webkit-background-clip: content-box;
  background-clip: padding-box;
  padding-bottom: calc(var(--header-height) + 10px);
}

.dayplan > div {
  background: transparent url('../../images/clock.png') 80% 70% no-repeat
    border-box;
  background-size: 100px;
  margin: 0 auto;
  width: var(--site-width);
  text-align: center;
  font-size: var(--default-font-size);
}

.dayplan h2 {
  color: var(--salmon);
  font-family: 'Open Sans', sans-serif;
  font-size: var(--main-heading-font-size);
}

.dayplan p {
  margin: 15px;
}

.dayplan p span {
  font-size: 14px;
}

.dayplan a,
.dayplan:visited {
  color: var(--main);
}

@media (max-width: 900px) {
  .dayplan > div {
    width: auto;
  }
}

@media (max-width: 560px) {
  .dayplan > div {
    width: auto;
    background: transparent url('../../images/clock.png') 80% center no-repeat
      border-box;
    background-size: 100px;
  }
}

@media (max-width: 700px) {
  .dayplan > div {
    width: auto;
    background: none;
  }
}
