.dayplan {
  background: #dd7e6bff url('../../images/clock.png') 55% center no-repeat
    border-box;
  background-size: 100px;
  color: white;
  padding-top: calc(var(--header-height) + 10px);
  margin-top: calc(var(--header-height) * -1);
  -webkit-background-clip: content-box;
  background-clip: padding-box;
  padding-bottom: calc(var(--header-height) + 10px);
}

.dayplan > div {
  margin: 0 auto;
  width: var(--site-width);
  padding-left: 2em;
  padding-right: 2em;
}

.dayplan p {
  margin: 40px 10px;
}

@media (max-width: 900px) {
  .dayplan > div {
    width: auto;
  }
}

@media (max-width: 560px) {
  .dayplan > div {
    width: auto;
    background: #dd7e6bff url('../../images/clock.png') 80% center no-repeat
      border-box;
    background-size: 100px;
  }
}
