.accomadation {
  background: #fff;
  color: var(--main);
  padding-top: calc(var(--header-height) + 10px);
  margin-top: calc(var(--header-height) * -1);
  -webkit-background-clip: content-box;
  background-clip: padding-box;
  padding-bottom: calc(var(--header-height) + 10px);
}

.accomadation > div {
  margin: 0 auto;
  width: var(--site-width);
  padding-left: 2em;
  padding-right: 2em;
  background: url('../../images/bed.png') left top no-repeat border-box;
  background-size: 110px;
  text-align: center;
}

.accomadation > div > div {
  margin: 0 10px;
}

.accomadation h3 {
  text-decoration: underline;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--main);
}

.accomadation a,
.accomadation a:visited {
  color: var(--main);
}

@media (max-width: 900px) {
  .accomadation > div {
    width: auto;
  }
}

@media (max-width: 560px) {
  .accomadation > div {
    background: url('../../images/bed.png') left top no-repeat border-box;
    background-size: 75px;
  }
}

@media (max-width: 375px) {
  .accomadation > div {
    background: url('../../images/bed.png') left -20px no-repeat border-box;
    background-size: 45px;
  }
}
