.rsvp {
  background: var(--salmon);
  color: white;
}

.rsvp h2 {
  color: var(--main);
}

.rsvp > div {
  margin: 0 auto;
  width: var(--site-width);
  padding: 2em;
  display: grid;
  grid-template-columns: 55% auto;
  grid-gap: 20px;
}

@media (max-width: 900px) {
  .rsvp > div {
    width: auto;
    display: flex;
    grid-template-columns: none;
    grid-gap: initial;
  }
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.rsvp textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
}
