.rsvp {
  background: #caa638ff;
  color: white;
}

.rsvp > div {
  margin: 0 auto;
  width: var(--site-width);
  padding: 2em;
  display: grid;
  grid-template-columns: 55% auto;
  grid-gap: 20px;
}

.rsvp p label {
  margin: 0 10px;
}

.rsvp span {
  width: 100px;
  display: inline-block;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.rsvp input[type='radio']:invalid {
  box-shadow: 0 0 5px 1px red;
}

.rsvp textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
}
